/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}
body{
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}



input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

/* Общие стили */

body {
	font-size: 18px;
	line-height: 27px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #333333;
	background-color: #CCCCCC;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}

.page {
	flex: 1 1 auto;
	/*padding: 120px 0px 0px 0px; */
	background: #CCCCCC;
}

/*
img {
	max-width: 100%;
	height: auto;
}

a {
	color: #533738;
	text-decoration: none;
}

a:hover {
	color: #cc8b86;
}

a:focus {
	color: #99544f;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
}
*/

.button {
	display:inline-block;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	line-height: 27px;
	background: #CD6326;
	color:#F7F7F7;
	padding:16px 42px;
	transition: background 0.3s ease 0s;
	cursor:pointer;
	border-radius: 5px;
}
.button:hover {
	background: #f3813f;
}

.button:focus {
	background-color:#6d2d08;
}
.button_small{
	border-radius: 5px;
	border: 4px solid #CD6326;
	padding:2px 23px;
	background:none;
}
.button_small:hover {
	background: #CD6326;
}

.title {
	font-size: 48px;
	line-height: 72px;
}
.title_orange {
	letter-spacing: 2px;
	color:#CD6326;
}

.title_dark {
	color:#333333;
	text-align:center;
}

.section-heading {
	margin-top: 0;
	margin-bottom: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
}

/* Стили для шапки */

.header {
	margin-bottom: -100px;
	z-index: 50;
}
.header__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		min-height: 100px;
	}
	
.logo {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	line-height: 60px;
	text-transform: uppercase;
	color: #F7F7F7;
}
.logo__link {
		
}
.logo img {
	width: 70px;
	height: 60px;
}
	
.logo__text {
	margin-left: 15px;
}

.menu {

}

.menu__body {
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.menu__list li {
	margin: 0px 30px;
}

.menu__list li:last-child {
	margin-right: 0;
}

.menu__link {
		font-size: 23px;
		line-height: 60px;
		color: #F7F7F7;
		transition: color 0.3s ease 0s;
}

.menu__link svg{
	display: block;
}

.menu__link:hover path {
	fill: #CD6326;
}

.menu__link:hover {
	color: #CD6326;
}

/* Стили для hero блока */

.hero {
	/*
	width: 100%;
	height: 100vh; */
	padding-top: 199px;
	padding-bottom:240px;
	background-color: #02160B;
	background: url("../img/main/hero.jpg") center no-repeat;
	background-size: cover;
}
.hero__title {
	margin-top: 0;
	margin-bottom: 51px;
}

.hero__inner {
	max-width: 274px;
	width: 100%;
}
.hero__text {
	color: #F7F7F7;
	margin-top: 0;
	margin-bottom: 65px;
}

.hero__button {
	
}

/* Стили для latest-articles блока */

.latest-articles {
	padding-top: 120px;
	padding-bottom:240px;
	background-color: #CCCCCC;
}

.latest-articles__title {
	margin-bottom:20px;
}

.latest-articles__subtitle {
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #666666;
	margin-bottom:120px;
}

.slider {
	padding-left: 90px;
	padding-right: 90px;
	position:relative;
	margin-bottom: 239px;
}

.slider__control {
	position:absolute;
	top:50%;
	left:0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	transform: translateY(-50%);
	z-index: 1;
}

.slider__button {
	background-color: #CCCCCC;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider__button:hover path {
	fill: #cc8b86;
}
.slider__button_prev svg{
	transform: rotate(180deg);
}

.slider__slides {	
	display:flex;
	margin:0px -30px;
}
.slider__item {
	flex: 0 1 33.333%;
	padding:0px 30px;
	position: relative;
	overflow: hidden;
}

.slider__item:hover img{
		transform:scale(1.05);
}


.slider__img {
	overflow: hidden;
	padding:0px 0px 120% 0px;
	position: relative; /* height: 360px; without padding */
}

.slider__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.15s all;
	position: absolute;
	top:0;
	left:0;
}

.slider__text {
	position:absolute;
	top:50%;
	left:50%;
	width: 100%;
	transform: translate(-50%, -50%);
	margin-right: -50%;
	text-align: center;
	z-index: 3;
}

.slider__title {
	font-size: 22px;
	line-height: 36px;
	color: #F7F7F7;
	margin-bottom: 10px;
}

.slider__subtitle {
	font-size: 17px;
	line-height: 27px;
	color: #F7F7F7;
}

.slider__link {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index:4;
}

/* Стили для  блока form*/
.form {
	max-width: 660px;
	margin:0 auto;
}

.form__title {
	font-size: 27px;
	line-height: 40px;
	color:#333333;
	text-align: center;
	margin-bottom: 60px;
}

.form__action {
	display:flex;
	align-items: center;
}

.form__input {
	height: 60px;
	width: 100%;
	padding:0px 15px;
	border:1px solid #666666;
	border-right: none;
	background-color: transparent;
	font-size: 23px;
	line-height: 27px;
	font-family: 'Roboto', sans-serif;
	color:#666666;
}

.form__button {
	flex: 0 0 120px;
	border: 1px solid #CD6326;
	border-radius: 0px 5px 5px 0px;
}

/* Стили для footer*/

.footer {
	background-color: #181617;
	background: url("../img/footer/footer-bg.jpg") center no-repeat;
	background-size: cover;
	padding: 150px 0px;
}

.footer__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer__list {
	display: flex;
	flex-wrap: wrap;
}

.footer__list li {
	margin:0px 43px;
}

.footer__list li:last-child {
	margin-right: 0;
}

.footer__link {
	font-size: 23px;
	line-height: 60px;
	color: #F7F7F7;
	transition: color 0.3s ease 0s;
}

.footer__link:hover {
	color: #CD6326;
}

.social__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.social__list li {
	margin:0px 13px;	
}

.social__list li:last-child {
	margin-right: 0;
}

.social__link {
	display: block;
	width: 40px;
	height: 40px;
}

.social__link_1 {
	background: url("../img/footer/1.svg") center no-repeat;
}

.social__link_2 {
	background: url("../img/footer/2.svg") center no-repeat;
}

.social__link_3 {
	background: url("../img/footer/3.svg") center no-repeat;
}

.social__link_4 {
	background: url("../img/footer/4.svg") center no-repeat;
}